<% unless @user.live_campaigns.empty? %>
<h3>Here are <%=@user.name%>'s live campaigns</h3>

<% @user.live_campaigns.each do |campaign|  %>
  <%= render campaign %>
  <%= button_to "Edit", edit_campaign_path(campaign), :class => "btn btn-warning", :method => :get %>
<% end %>
<% end %>

<% unless @user.pending_campaigns.empty? %>
<h3>Here are <%=@user.name%>'s pending campaigns</h3>

<% @user.pending_campaigns.each do |campaign|  %>
  <%= render campaign %>
  <%= button_to "Edit", edit_campaign_path(campaign), :class => "btn btn-warning", :method => :get %>
<% end %>
<% end %>

