
<div>
  <% if !@user.live_campaigns.empty? %>
    <% if logged_in? && @user.id == current_user.id %>
      <h3 id="formcolor">Here are your live campaigns</h3>
    <%else%>
      <h3>Here are <%=@user.name%>'s live campaigns</h3>
    <%end%>
    <% @user.live_campaigns.each do |campaign|  %>
      <%= render campaign %>
      <% if logged_in? && @user.id == current_user.id %>
        <div class="row">
          <div class="col-md-4"></div>
          <%= button_to "Edit", edit_campaign_path(campaign), :class => "btn btn-warning col-md-4", :method => :get %>
          <div class="col-md-4"></div>
      <% end %>   
    <% end %>
  <% else %>
    <h3><%=@user.name%> has no live campaigns at the moment</h3>
  <% end %>
</div>
<% if logged_in? && @user.id == current_user.id && !@user.pending_campaigns.empty? %>
<h3 id="formcolor">Here are your pending campaigns. <%=link_to "You can launch them here", set_up_path %> </h3>

  <!-- Beginning of Gallery View -->
    <div class="row projects">
      <div id="loader">
        <div class="loader-icon"></div>
      </div>
      <div class="col-md-12" id="portfolio-list">
        <!-- PORTFOLIO ITEMS-->
        <ul class="cbp-rfgrid">

            <% @user.pending_campaigns.each do |campaign|  %>
              <%= render partial: 'campaigns/campaigngallerysingle', locals: {campaign: campaign} %>
              <% end %>


          <!-- ... -->
        </ul>
      </div>
    </div>
  <!-- END OF Gallery View-->

<% end %>
<% if !@user.campaigns_donated_to.empty? %>
<div>

  <h3 id="formcolor">Here are campaigns that <%= @user.name %> has contributed to:</h3>
  <div class="col-md-12" id="portfolio-list">
    <!-- PORTFOLIO ITEMS-->
    <ul class="cbp-rfgrid">
      <% @user.campaigns_donated_to.each do |campaign|  %>
         <%= render partial: 'campaigns/campaigngallerysingle', locals: {campaign: campaign} %>
      <% end %>
    </ul>
  </div>
    </div>

</div>
<% end %>



