<% if @user.errors.any? %>
<ul>
  <% @user.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
</ul>
<% end %>


<h1 id="formcolor">Sign up for GiftBuddy!</h1>
<br>

<div class="boxed">
    <%= form_for @user, url: sign_up_path do |f| %>
        <br>
          <%= f.label :name %>
          <br>
          <%= f.text_field :name, :required => true %>
        <br>
        <br>

         <%= f.label :email %>
        <br>
          <%= f.email_field :email, :required => true %>
        <br>
        <br>

          <%= f.label :password %>
        <br>
          <%= f.password_field :password, :required => true %>
        <br>
        <br>

          <%= f.label :password_confirmation %>
          <br>
          <%= f.password_field :password_confirmation, :required => true %>
        <br>
        <br>

        <%= f.submit "Create Account", :class => "btn btn-success" %>
        <br>

        <% end %>
      <br>
      <br>

      <h4 id="formcolor"> Have an account? Sign in:</h4> 
       <%= button_to "Sign In", sign_in_path, :class => "btn btn-default", :method => :get %>
     <br>
</div>


