
<h1><%=campaign.description %></h1>
<img src="<%=campaign.photo_url%>" alt="<%=campaign.description%>">

<p>
Deadline: <%=campaign.deadline%>
</p>
<p>
Total: <%=campaign.total%>
</p>


<% if logged_in? %>

  <%= form_for Pledge.new do |f| %>

    <%= f.hidden_field :giver_id, value: current_user.id %>
    <%= f.hidden_field :campaign_id, value: campaign.id %>
    <%= f.label :amount %>
    <%= f.number_field :amount%>

    <%= f.submit %>
  <% end %>

<% end %>

This campaign is for: 
<%= render campaign.receiver %>

Here are your pledges so far: 
<%= render campaign.pledges %>

