<section class="works" id="works">
<div class="container">
  
  <!-- SECTION HEADER -->
  <% if campaign.days_left == 0 || campaign.status = "Pending" %>
  <div class="section-header bg-warning">
  <% else %>
  <div class="section-header bg-success">
  <% end %>
    
    <!-- SECTION TITLE -->
    <h2 class="dark-text"><%=link_to campaign.title, campaign %></h2>
    
    <!-- SHORT DESCRIPTION ABOUT THE SECTION -->
    <h6>
      For <%=link_to campaign.receiver.name, campaign.receiver %> 
    </h6>
  </div>
  <!-- / END SECTION HEADER -->
  <!-- PROJECT DETAILS WILL BE LOADED HERE -->
  <div id="loaded-content"><div class="single-project">
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <img src="<%=campaign.photo_url%>" alt="" class="project-image">
      </div>
      <div class="col-lg-6 col-md-6">
        <h3 class="dark-text">Mesterplan Homepage Design</h3>
        <div class="project-description">
           <%=campaign.description%>
        </div>
        <div class="project-information">
          <ul>
            <li><span class="dark-text">Total: <%=campaign.total%></li>
            <li><span class="dark-text">Deadline: <%=campaign.pretty_date%></li>
            <li><span class="dark-text">Days Left: <%=campaign.days_left%></li>
          </ul>
        </div>
        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="<%=campaign.progress_percent%>" aria-valuemin="0" aria-valuemax="100" style="width: <%=campaign.progress_percent%>%;">
            <%=campaign.progress_percent%>%
          </div>
        </div>
      </div>
    </div>
  </div></div>

  <% if logged_in? && current_user.id != campaign.receiver_id %> 
  
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3 class="wow fadeInLeft animated animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s" style="visibility: visible;-webkit-animation-duration: 1.5s; -moz-animation-duration: 1.5s; animation-duration: 1.5s;-webkit-animation-delay: 0.15s; -moz-animation-delay: 0.15s; animation-delay: 0.15s;">
          Give your buddy some money! Enter an amount here </h3>
       
        <%= form_tag charges_path do %>
            <label for="<%=campaign.id%>-amount">Amount</label>
            <input type="number" name="amount" id="<%=campaign.id%>-amount" value="" >
            <input type="hidden" name="campaign-id" value="<%=campaign.id%>">
          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                  data-description="<%= campaign.title %>"
                  data-amount=$('#<%=campaign.id%>-amount').val()+"00"></script>
        <% end %>
        </div>
      </div>
    </div>
  </section>

  <% elsif !logged_in? %>

      <h4> <%= link_to "Log in to give some money!", sign_in_path %>   </h4>

  <% end %>

</div>

  <% unless campaign.pledges.empty? %>
    <h3 class="text-center"> Contributions for this campaign: </h3>

    <div class="row wow fadeInLeft animated animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s" style="visibility: visible;-webkit-animation-duration: 1.5s; -moz-animation-duration: 1.5s; animation-duration: 1.5s;-webkit-animation-delay: 0.15s; -moz-animation-delay: 0.15s; animation-delay: 0.15s;">

      <%= render campaign.pledges %>

    </div>
  <%end%>

  
</div> <!-- / END CONTAINER -->
</section>

