
<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="text-center"><%=link_to campaign.title, campaign %></h3>
    <h4 class="text-center">For <%=link_to campaign.receiver.name, campaign.receiver %></h4>
  </div>



  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-5">
      <img class="campaign-photo img-responsive" src="<%=campaign.photo_url%>" alt="<%=campaign.description%>">
    </div>

    <div class="campaign-details col-md-5">

      <p>
      Deadline: <%=campaign.pretty_date%>
      </p>
      <p>
      Total: <%=campaign.total%>
      </p>
      <p>
      Total contributions: <%=campaign.total_contributed%>
      </p>
      <p>
      Amount left: <%=campaign.amount_left%>
      </p>
      <p>
      <%=campaign.description%>
      </p>




    </div>

    <div class="col-md-1">
    </div>

  </div>



    <% if logged_in? %>

            
          <%= form_tag charges_path do %>
            <article>
              <label for="<%=campaign.id%>-amount">Amount</label>
              <input type="number" name="amount" id="<%=campaign.id%>-amount" value="">
              <input type="hidden" name="campaign-id" value="<%=campaign.id%>">


            </article>

            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                    data-description="<%= campaign.title %>"
                    data-amount=$('#<%=campaign.id%>-amount').val()+"00"></script>
          <% end %>

        <% else %>

          <h4> <%= link_to "Log in to give some money!", sign_in_path %>   </h4>

    <% end %>

    <div class="container">
       <h3 class="text-center"> Here are your pledges so far: </h3>

        <div class="row">

          <%= render campaign.pledges %>

        </div>

    </div>
</div>

