<h3>Start a new Campaign</h3>

<%= form_for @campaign do |f| %>
  <%= f.hidden_field :receiver_id, value: current_user.id %>
  <%= f.label :title %>
  <%= f.text_field :title, required: true %>
  <%= f.label :description %>
  <%= f.text_area :description, required: true %>
  <%= f.label :photo_url %>
  <%= f.text_field :photo_url %>
  <%= f.label :deadline %>
  <%= f.date_field :deadline, required: true %>
  <%= f.label :total %>
  <%= f.number_field :total, required: true%>
  <%= f.submit %>
<% end %>